In [1]:
import pandas as pd

In [41]:
# Reading the movies_metadata.csv file into a frame
metadata = pd.read_csv('Resources/movies_metadata.csv')

C:\Users\jerry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
# Getting only the columns we're gonna use into just one dataframe
metadata = metadata[['imdb_id','original_title','title','runtime','budget','revenue',\
                    'popularity','vote_average', 'vote_count']]

In [44]:
metadata

,imdb_id,original_title,title,runtime,budget,revenue,popularity,vote_average,vote_count
0,tt0114709,Toy Story,Toy Story,81.0,30000000,373554033.0,21.9469,7.7,5415.0
1,tt0113497,Jumanji,Jumanji,104.0,65000000,262797249.0,17.0155,6.9,2413.0
2,tt0113228,Grumpier Old Men,Grumpier Old Men,101.0,0,0.0,11.7129,6.5,92.0
3,tt0114885,Waiting to Exhale,Waiting to Exhale,127.0,16000000,81452156.0,3.85949,6.1,34.0
4,tt0113041,Father of the Bride Part II,Father of the Bride Part II,106.0,0,76578911.0,8.38752,5.7,173.0
...,...,...,...,...,...,...,...,...,...
45461,tt6209470,رگ خواب,Subdue,90.0,0,0.0,0.072051,4.0,1.0
45462,tt2028550,Siglo ng Pagluluwal,Century of Birthing,360.0,0,0.0,0.178241,9.0,3.0
45463,tt0303758,Betrayal,Betrayal,90.0,0,0.0,0.903007,3.8,6.0
45464,tt0008536,Satana likuyushchiy,Satan Triumphant,87.0,0,0.0,0.003503,0.0,0.0
45465,tt6980792,Queerama,Queerama,75.0,0,0.0,0.163015,0.0,0.0

In [86]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         45449 non-null  object
 1   original_title  45466 non-null  object
 2   title           45466 non-null  object
 3   runtime         45203 non-null  float64
 4   budget          45466 non-null  object
 5   revenue         45460 non-null  float64
 6   popularity      45461 non-null  object
 7   vote_average    45460 non-null  float64
 8   vote_count      45460 non-null  float64
 9   title_python    45466 non-null  object
dtypes: float64(4), object(6)
memory usage: 3.5+ MB

In [74]:
stream_file = "./Resources/MoviesOnStreamingPlatforms_updated.csv"
stream_df = pd.read_csv(stream_file)
stream_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [75]:
# Create a filtered dataframe from specific columns
stream_cols = ["ID",
               "Title",
               "Year",
               "Age",
               "IMDb",
               "Rotten Tomatoes",
               "Netflix",
               "Hulu",
               "Prime Video",
               "Disney+",
               "Type",
               "Directors",
               "Genres",
               "Country",
               "Language",
               "Runtime"]

stream_transformed= stream_df[stream_cols].copy()

# Rename the column headers
stream_transformed = stream_transformed.rename(columns={"ID": "id",
                                                        "Title": "title",
                                                        "Year": "year",
                                                        "Age": "age",
                                                        "IMDb": "imdb",
                                                        "Rotten Tomatoes": "rotten_tomatoes",
                                                        "Netflix": "netflix",
                                                        "Hulu": "hulu",
                                                        "Prime Video": "prime_video",
                                                        "Disney+": "disney",
                                                        "Type": "type",
                                                        "Directors": "directors",
                                                        "Genres": "genres",
                                                        "Country": "country",
                                                        "Language": "language",
                                                        "Runtime": "runtime"})

# Clean the data by dropping duplicates and setting the index
stream_transformed.drop_duplicates("id", inplace=True)
stream_transformed.set_index("id", inplace=True)

stream_transformed.head()

,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney,type,directors,genres,country,language,runtime
id,,,,,,,,,,,,,,,
1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [85]:
stream_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16744 entries, 1 to 16744
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            16744 non-null  object
 1   year             16744 non-null  int64
 2   age              7354 non-null   object
 3   imdb             16173 non-null  float64
 4   rotten_tomatoes  5158 non-null   object
 5   netflix          16744 non-null  int64
 6   hulu             16744 non-null  int64
 7   prime_video      16744 non-null  int64
 8   disney           16744 non-null  int64
 9   type             16744 non-null  int64
 10  directors        16018 non-null  object
 11  genres           16469 non-null  object
 12  country          16309 non-null  object
 13  language         16145 non-null  object
 14  runtime          16152 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 2.0+ MB

In [93]:
frame = pd.merge(metadata, stream_transformed, left_on = 'title', right_on='title', how = 'inner')

In [94]:
frame

,imdb_id,original_title,title,runtime_x,budget,revenue,popularity,vote_average,vote_count,title_python,...,netflix,hulu,prime_video,disney,type,directors,genres,country,language,runtime_y
0,tt0114709,Toy Story,Toy Story,81.0,30000000,373554033.0,21.9469,7.7,5415.0,,...,0,0,0,1,0,John Lasseter,"Animation,Adventure,Comedy,Family,Fantasy",United States,English,81.0
1,tt0114885,Waiting to Exhale,Waiting to Exhale,127.0,16000000,81452156.0,3.85949,6.1,34.0,,...,0,1,0,0,0,Forest Whitaker,"Comedy,Drama,Romance",United States,English,124.0
2,tt0114319,Sabrina,Sabrina,127.0,58000000,0.0,6.67728,6.2,141.0,,...,1,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0
3,tt0047437,Sabrina,Sabrina,113.0,2238813,10000000.0,7.35974,7.4,284.0,,...,1,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0
4,tt0112302,Tom and Huck,Tom and Huck,97.0,0,0.0,2.56116,5.4,45.0,,...,0,0,0,1,0,Peter Hewitt,"Adventure,Comedy,Drama,Family,Romance,Western",United States,English,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8008,tt3805180,Все и сразу,All at Once,0.0,750000,3.0,0.201582,6.0,4.0,,...,0,0,1,0,0,Jon Abrahams,Drama,United States,English,112.0
8009,tt6212210,Cop and a Half: New Recruit,Cop and a Half: New Recruit,97.0,0,0.0,1.248353,6.0,1.0,,...,1,0,0,0,0,Jonathan A. Rosenbaum,"Action,Adventure,Comedy,Crime,Family,Mystery",Canada,English,97.0
8010,tt1331329,The Final Storm,The Final Storm,92.0,0,0.0,1.270832,3.7,11.0,,...,0,0,1,0,0,Uwe Boll,"Action,Horror,Thriller","Canada,Germany",English,92.0
8011,tt0294425,Cadet Kelly,Cadet Kelly,101.0,0,0.0,4.392389,5.2,145.0,,...,0,0,0,1,0,Larry Shaw,"Comedy,Drama,Family","United States,Canada",English,101.0
8012,tt6980792,Queerama,Queerama,75.0,0,0.0,0.163015,0.0,0.0,,...,0,0,1,0,0,Daisy Asquith,"Documentary,Music",United Kingdom,English,70.0

In [87]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55351 entries, 0 to 55350
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdb_id          45449 non-null  object
 1   original_title   45466 non-null  object
 2   title            55351 non-null  object
 3   runtime_x        45203 non-null  float64
 4   budget           45466 non-null  object
 5   revenue          45460 non-null  float64
 6   popularity       45461 non-null  object
 7   vote_average     45460 non-null  float64
 8   vote_count       45460 non-null  float64
 9   title_python     45466 non-null  object
 10  year             17898 non-null  float64
 11  age              8051 non-null   object
 12  imdb             17317 non-null  float64
 13  rotten_tomatoes  5794 non-null   object
 14  netflix          17898 non-null  float64
 15  hulu             17898 non-null  float64
 16  prime_video      17898 non-null  float64
 17  disney           17898 non-null  float64
 18  type             17898 non-null  float64
 19  directors        17109 non-null  object
 20  genres           17622 non-null  object
 21  country          17460 non-null  object
 22  language         17291 non-null  object
 23  runtime_y        17297 non-null  float64
dtypes: float64(12), object(12)
memory usage: 10.6+ MB

In [88]:
frame.to_csv('Resources/frame.csv')

In [97]:
frame.revenue = frame.revenue.astype(float)

In [98]:
frame.budget = frame.budget.astype(float)

In [99]:
frame['profit'] = frame.revenue - frame.budget

In [100]:
frame

,imdb_id,original_title,title,runtime_x,budget,revenue,popularity,vote_average,vote_count,title_python,...,hulu,prime_video,disney,type,directors,genres,country,language,runtime_y,profit
0,tt0114709,Toy Story,Toy Story,81.0,30000000.0,373554033.0,21.9469,7.7,5415.0,,...,0,0,1,0,John Lasseter,"Animation,Adventure,Comedy,Family,Fantasy",United States,English,81.0,343554033.0
1,tt0114885,Waiting to Exhale,Waiting to Exhale,127.0,16000000.0,81452156.0,3.85949,6.1,34.0,,...,1,0,0,0,Forest Whitaker,"Comedy,Drama,Romance",United States,English,124.0,65452156.0
2,tt0114319,Sabrina,Sabrina,127.0,58000000.0,0.0,6.67728,6.2,141.0,,...,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0,-58000000.0
3,tt0047437,Sabrina,Sabrina,113.0,2238813.0,10000000.0,7.35974,7.4,284.0,,...,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0,7761187.0
4,tt0112302,Tom and Huck,Tom and Huck,97.0,0.0,0.0,2.56116,5.4,45.0,,...,0,0,1,0,Peter Hewitt,"Adventure,Comedy,Drama,Family,Romance,Western",United States,English,97.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8008,tt3805180,Все и сразу,All at Once,0.0,750000.0,3.0,0.201582,6.0,4.0,,...,0,1,0,0,Jon Abrahams,Drama,United States,English,112.0,-749997.0
8009,tt6212210,Cop and a Half: New Recruit,Cop and a Half: New Recruit,97.0,0.0,0.0,1.248353,6.0,1.0,,...,0,0,0,0,Jonathan A. Rosenbaum,"Action,Adventure,Comedy,Crime,Family,Mystery",Canada,English,97.0,0.0
8010,tt1331329,The Final Storm,The Final Storm,92.0,0.0,0.0,1.270832,3.7,11.0,,...,0,1,0,0,Uwe Boll,"Action,Horror,Thriller","Canada,Germany",English,92.0,0.0
8011,tt0294425,Cadet Kelly,Cadet Kelly,101.0,0.0,0.0,4.392389,5.2,145.0,,...,0,0,1,0,Larry Shaw,"Comedy,Drama,Family","United States,Canada",English,101.0,0.0
8012,tt6980792,Queerama,Queerama,75.0,0.0,0.0,0.163015,0.0,0.0,,...,0,1,0,0,Daisy Asquith,"Documentary,Music",United Kingdom,English,70.0,0.0