In [1]:
import pandas as pd

In [2]:
# Reading the movies_metadata.csv file into a frame
metadata = pd.read_csv('Resources/movies_metadata.csv')

C:\Users\jerry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Getting only the columns we're gonna use into just one dataframe
metadata = metadata[['imdb_id','original_title','title','runtime','budget','revenue',\
                    'popularity','vote_average', 'vote_count']]

In [4]:
metadata

,imdb_id,original_title,title,runtime,budget,revenue,popularity,vote_average,vote_count
0,tt0114709,Toy Story,Toy Story,81.0,30000000,373554033.0,21.9469,7.7,5415.0
1,tt0113497,Jumanji,Jumanji,104.0,65000000,262797249.0,17.0155,6.9,2413.0
2,tt0113228,Grumpier Old Men,Grumpier Old Men,101.0,0,0.0,11.7129,6.5,92.0
3,tt0114885,Waiting to Exhale,Waiting to Exhale,127.0,16000000,81452156.0,3.85949,6.1,34.0
4,tt0113041,Father of the Bride Part II,Father of the Bride Part II,106.0,0,76578911.0,8.38752,5.7,173.0
...,...,...,...,...,...,...,...,...,...
45461,tt6209470,رگ خواب,Subdue,90.0,0,0.0,0.072051,4.0,1.0
45462,tt2028550,Siglo ng Pagluluwal,Century of Birthing,360.0,0,0.0,0.178241,9.0,3.0
45463,tt0303758,Betrayal,Betrayal,90.0,0,0.0,0.903007,3.8,6.0
45464,tt0008536,Satana likuyushchiy,Satan Triumphant,87.0,0,0.0,0.003503,0.0,0.0
45465,tt6980792,Queerama,Queerama,75.0,0,0.0,0.163015,0.0,0.0

In [5]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         45449 non-null  object
 1   original_title  45466 non-null  object
 2   title           45460 non-null  object
 3   runtime         45203 non-null  float64
 4   budget          45466 non-null  object
 5   revenue         45460 non-null  float64
 6   popularity      45461 non-null  object
 7   vote_average    45460 non-null  float64
 8   vote_count      45460 non-null  float64
dtypes: float64(4), object(5)
memory usage: 3.1+ MB

In [6]:
stream_file = "./Resources/MoviesOnStreamingPlatforms_updated.csv"
stream_df = pd.read_csv(stream_file)
stream_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [7]:
# Create a filtered dataframe from specific columns
stream_cols = ["ID",
               "Title",
               "Year",
               "Age",
               "IMDb",
               "Rotten Tomatoes",
               "Netflix",
               "Hulu",
               "Prime Video",
               "Disney+",
               "Type",
               "Directors",
               "Genres",
               "Country",
               "Language",
               "Runtime"]

stream_transformed= stream_df[stream_cols].copy()

# Rename the column headers
stream_transformed = stream_transformed.rename(columns={"ID": "id",
                                                        "Title": "title",
                                                        "Year": "year",
                                                        "Age": "age",
                                                        "IMDb": "imdb",
                                                        "Rotten Tomatoes": "rotten_tomatoes",
                                                        "Netflix": "netflix",
                                                        "Hulu": "hulu",
                                                        "Prime Video": "prime_video",
                                                        "Disney+": "disney",
                                                        "Type": "type",
                                                        "Directors": "directors",
                                                        "Genres": "genres",
                                                        "Country": "country",
                                                        "Language": "language",
                                                        "Runtime": "runtime"})

# Clean the data by dropping duplicates and setting the index
stream_transformed.drop_duplicates("id", inplace=True)
stream_transformed.set_index("id", inplace=True)

stream_transformed.head()

,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney,type,directors,genres,country,language,runtime
id,,,,,,,,,,,,,,,
1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [8]:
stream_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16744 entries, 1 to 16744
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            16744 non-null  object
 1   year             16744 non-null  int64
 2   age              7354 non-null   object
 3   imdb             16173 non-null  float64
 4   rotten_tomatoes  5158 non-null   object
 5   netflix          16744 non-null  int64
 6   hulu             16744 non-null  int64
 7   prime_video      16744 non-null  int64
 8   disney           16744 non-null  int64
 9   type             16744 non-null  int64
 10  directors        16018 non-null  object
 11  genres           16469 non-null  object
 12  country          16309 non-null  object
 13  language         16145 non-null  object
 14  runtime          16152 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 2.0+ MB

In [9]:
frame = pd.merge(metadata, stream_transformed, left_on = 'title', right_on='title', how = 'inner')

In [10]:
frame

,imdb_id,original_title,title,runtime_x,budget,revenue,popularity,vote_average,vote_count,year,...,netflix,hulu,prime_video,disney,type,directors,genres,country,language,runtime_y
0,tt0114709,Toy Story,Toy Story,81.0,30000000,373554033.0,21.9469,7.7,5415.0,1995,...,0,0,0,1,0,John Lasseter,"Animation,Adventure,Comedy,Family,Fantasy",United States,English,81.0
1,tt0114885,Waiting to Exhale,Waiting to Exhale,127.0,16000000,81452156.0,3.85949,6.1,34.0,1995,...,0,1,0,0,0,Forest Whitaker,"Comedy,Drama,Romance",United States,English,124.0
2,tt0114319,Sabrina,Sabrina,127.0,58000000,0.0,6.67728,6.2,141.0,2018,...,1,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0
3,tt0047437,Sabrina,Sabrina,113.0,2238813,10000000.0,7.35974,7.4,284.0,2018,...,1,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0
4,tt0112302,Tom and Huck,Tom and Huck,97.0,0,0.0,2.56116,5.4,45.0,1995,...,0,0,0,1,0,Peter Hewitt,"Adventure,Comedy,Drama,Family,Romance,Western",United States,English,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8008,tt3805180,Все и сразу,All at Once,0.0,750000,3.0,0.201582,6.0,4.0,2016,...,0,0,1,0,0,Jon Abrahams,Drama,United States,English,112.0
8009,tt6212210,Cop and a Half: New Recruit,Cop and a Half: New Recruit,97.0,0,0.0,1.248353,6.0,1.0,2017,...,1,0,0,0,0,Jonathan A. Rosenbaum,"Action,Adventure,Comedy,Crime,Family,Mystery",Canada,English,97.0
8010,tt1331329,The Final Storm,The Final Storm,92.0,0,0.0,1.270832,3.7,11.0,2010,...,0,0,1,0,0,Uwe Boll,"Action,Horror,Thriller","Canada,Germany",English,92.0
8011,tt0294425,Cadet Kelly,Cadet Kelly,101.0,0,0.0,4.392389,5.2,145.0,2002,...,0,0,0,1,0,Larry Shaw,"Comedy,Drama,Family","United States,Canada",English,101.0
8012,tt6980792,Queerama,Queerama,75.0,0,0.0,0.163015,0.0,0.0,2017,...,0,0,1,0,0,Daisy Asquith,"Documentary,Music",United Kingdom,English,70.0

In [11]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8013 entries, 0 to 8012
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdb_id          8010 non-null   object
 1   original_title   8013 non-null   object
 2   title            8013 non-null   object
 3   runtime_x        8009 non-null   float64
 4   budget           8013 non-null   object
 5   revenue          8013 non-null   float64
 6   popularity       8013 non-null   object
 7   vote_average     8013 non-null   float64
 8   vote_count       8013 non-null   float64
 9   year             8013 non-null   int64
 10  age              4810 non-null   object
 11  imdb             7986 non-null   float64
 12  rotten_tomatoes  4186 non-null   object
 13  netflix          8013 non-null   int64
 14  hulu             8013 non-null   int64
 15  prime_video      8013 non-null   int64
 16  disney           8013 non-null   int64
 17  type             8013 non-null   int64
 18  directors        7786 non-null   object
 19  genres           8000 non-null   object
 20  country          7977 non-null   object
 21  language         7938 non-null   object
 22  runtime_y        7923 non-null   float64
dtypes: float64(6), int64(6), object(11)
memory usage: 1.5+ MB

In [88]:
frame.to_csv('Resources/frame.csv')

In [97]:
frame.revenue = frame.revenue.astype(float)

In [98]:
frame.budget = frame.budget.astype(float)

In [99]:
frame['profit'] = frame.revenue - frame.budget

In [100]:
frame

,imdb_id,original_title,title,runtime_x,budget,revenue,popularity,vote_average,vote_count,title_python,...,hulu,prime_video,disney,type,directors,genres,country,language,runtime_y,profit
0,tt0114709,Toy Story,Toy Story,81.0,30000000.0,373554033.0,21.9469,7.7,5415.0,,...,0,0,1,0,John Lasseter,"Animation,Adventure,Comedy,Family,Fantasy",United States,English,81.0,343554033.0
1,tt0114885,Waiting to Exhale,Waiting to Exhale,127.0,16000000.0,81452156.0,3.85949,6.1,34.0,,...,1,0,0,0,Forest Whitaker,"Comedy,Drama,Romance",United States,English,124.0,65452156.0
2,tt0114319,Sabrina,Sabrina,127.0,58000000.0,0.0,6.67728,6.2,141.0,,...,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0,-58000000.0
3,tt0047437,Sabrina,Sabrina,113.0,2238813.0,10000000.0,7.35974,7.4,284.0,,...,0,0,0,0,NaN,"Comedy,Family,Fantasy",United States,English,22.0,7761187.0
4,tt0112302,Tom and Huck,Tom and Huck,97.0,0.0,0.0,2.56116,5.4,45.0,,...,0,0,1,0,Peter Hewitt,"Adventure,Comedy,Drama,Family,Romance,Western",United States,English,97.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8008,tt3805180,Все и сразу,All at Once,0.0,750000.0,3.0,0.201582,6.0,4.0,,...,0,1,0,0,Jon Abrahams,Drama,United States,English,112.0,-749997.0
8009,tt6212210,Cop and a Half: New Recruit,Cop and a Half: New Recruit,97.0,0.0,0.0,1.248353,6.0,1.0,,...,0,0,0,0,Jonathan A. Rosenbaum,"Action,Adventure,Comedy,Crime,Family,Mystery",Canada,English,97.0,0.0
8010,tt1331329,The Final Storm,The Final Storm,92.0,0.0,0.0,1.270832,3.7,11.0,,...,0,1,0,0,Uwe Boll,"Action,Horror,Thriller","Canada,Germany",English,92.0,0.0
8011,tt0294425,Cadet Kelly,Cadet Kelly,101.0,0.0,0.0,4.392389,5.2,145.0,,...,0,0,1,0,Larry Shaw,"Comedy,Drama,Family","United States,Canada",English,101.0,0.0
8012,tt6980792,Queerama,Queerama,75.0,0.0,0.0,0.163015,0.0,0.0,,...,0,1,0,0,Daisy Asquith,"Documentary,Music",United Kingdom,English,70.0,0.0

In [146]:
# Creating a table that contains directos
directors=[]
list_directors = frame.directors.unique()


for item in list_directors:
    try:
        sublist = item.split(',')
        for i in range( len(sublist) ):
            directors.append(sublist[i])
    except:
        directors.append(item)
        
directors

['John Lasseter',
 'Forest Whitaker',
 nan,
 'Peter Hewitt',
 'Martin Campbell',
 'Tim Blake Nelson',
 'Yimou Zhang',
 'Tim Robbins',
 'Andy Tennant',
 'Michael Hoffman',
 'Paul W.S. Anderson',
 'Mike Gabriel',
 'Eric Goldberg',
 'Richard W. Munchkin',
 'Jodie Foster',
 'Pete Walker',
 'Francesco Cinquemani',
 'George Gallo',
 'Jason Bloom',
 'Jesse Dylan',
 'Henry Jaglom',
 'Jim Wynorski',
 'Nick Broomfield',
 'Brian Henson',
 'David Lane',
 'Martin Scorsese',
 'John N. Smith',
 'Luc Besson',
 'McG',
 'Mike Nichols',
 'Michael Bay',
 'Ryan Koo',
 'Michael Moore',
 'Christina Wayne',
 'Gregory Widen',
 'Roger Donaldson',
 'Martha Coolidge',
 'Beeban Kidron',
 'Walter Hill',
 'Jack Baran',
 'Ang Lee',
 'Kevin Lima',
 'Art Clokey',
 'Steven Brill',
 'William Friedkin',
 'Ivan Reitman',
 'Michael Gottlieb',
 'Edward Zwick',
 'Sam Pillsbury',
 'Stephen Gyllenhaal',
 'George Seaton',
 'Tyler Perry',
 'Tôru Murakawa',
 'Oliver Stone',
 'Wolfgang Petersen',
 'Richard Rich',
 'John Sayles',
 'John Pasquin',
 'Scott McGehee',
 'David Siegel',
 'Akira Kurosawa',
 'Rachel Talalay',
 'Lasse Hallström',
 'Mina Shum',
 'Tom Shadyac',
 'Jon Favreau',
 'Donald Petrie',
 'Wes Craven',
 'Suri Krishnamma',
 'Theodore Thomas',
 'Oriol Paulo',
 'Roger Allers',
 'Jill Culton',
 'Anthony Stacchi',
 'Jeff Pollack',
 'Caroline Thompson',
 'John Whitesell',
 'Marco Brambilla',
 'Luciano Saber',
 'Rusty Cundieff',
 'Barry Sonnenfeld',
 'Simon Wincer',
 'Boaz Yakin',
 'Sam Peckinpah',
 'Kenneth Branagh',
 'Mike Leigh',
 'Richard Attenborough',
 'John Duigan',
 'Phillip Noyce',
 'Henry Selick',
 'Dennis Hopper',
 'Gurinder Chadha',
 'Will Slocombe',
 'Guy Ritchie',
 'William Cottrell',
 'David Hand',
 'Wilfred Jackson',
 'Larry Morey',
 'Perce Pearce',
 'Ben Sharpsteen',
 'Matteo Garrone',
 'David R. Ellis',
 'Wolfgang Reitherman',
 'André Téchiné',
 'Mel Brooks',
 'Bruno Barreto',
 'Henri-Georges Clouzot',
 'Pen Densham',
 'Rob Cohen',
 'James Foley',
 'Gordon Willis',
 'Terry George',
 'Ron Howard',
 'George Scribner',
 'Larry Cohen',
 'Fred Williamson',
 'Kar-Wai Wong',
 'Albert Hughes',
 'Allen Hughes',
 'Gary Trousdale',
 'Kirk Wise',
 'Christopher Larkin',
 'Kevin Hooks',
 'Paul Michael Glaser',
 'Hugh Wilson',
 'Annette Haywood-Carter',
 'Harry Winer',
 'Marcus DeLeon',
 'Lana Wachowski',
 'Lilly Wachowski',
 'Arthur Hiller',
 'Steve Oedekerk',
 'Peter Hyams',
 'David Mickey Evans',
 'Trevor Nunn',
 'Stanley Donen',
 'George Cukor',
 'Billy Wilder',
 'William Wyler',
 'Walter Lang',
 'William A. Seiter',
 'Alfred Hitchcock',
 'Gregory La Cava',
 'George Stevens',
 'Howard Hawks',
 'Frank Capra',
 'William A. Wellman',
 'John Cromwell',
 'Busby Berkeley',
 'Henry Koster',
 'James Edward Grant',
 'Howard Hughes',
 'Howard Hawks',
 'George A. Romero',
 'John Huston',
 'Richard Brooks',
 'Victor Schertzinger',
 'Frank Borzage',
 'Chris Newby',
 'Drew Barrymore',
 'Matthew Broderick',
 'Campbell Scott',
 'Stanley Tucci',
 'Robert M. Young',
 'Norman Tokar',
 'Norman Foster',
 'John Hough',
 'Robert Stevenson',
 'Nancy Meyers',
 'David Swift',
 'Duwayne Dunham',
 'Charles Barton',
 'Richard Fleischer',
 'Jon Turteltaub',
 'John Landis',
 'Wolfgang Reitherman',
 'Clyde Geronimi',
 'David Hand',
 'Tim Burton',
 'David Lowery',
 'Robert Stevenson',
 'Ward Kimball',
 'Ted Berman',
 'Richard Rich',
 'Art Stevens',
 'David Hand',
 'Wolfgang Reitherman',
 'Robert Wise',
 'Steve Buscemi',
 'Doug Liman',
 'Tad Stones',
 'Edward Dmytryk',
 'Mel Stuart',
 'Woody Allen',
 'Terry Jones',
 'John Sturges',
 'Fred Zinnemann',
 'Neil Jordan',
 'Peter Cohn',
 'John Carpenter',
 'Terry Gilliam',
 'Terry Jones',
 'Michael Ray Rhodes',
 'Susan Warms Dryfoos',
 'Alfred L. Werker',
 'Anthony Mann',
 'John Irvin',
 'Anthony Mann',
 'Josef Rusnak',
 'Lou Adler',
 'Tommy Chong',
 'Rob Reiner',
 'Steven Spielberg',
 'Sergio Leone',
 'Jean-Pierre Melville',
 'Andrei Tarkovsky',
 'Hal Ashby',
 'Tom Stoppard',
 'Peter Jackson',
 'Harold Ramis',
 'Robert Zemeckis',
 'Katsuhiro Ôtomo',
 'Russell Mulcahy',
 'Jean-Paul Rappeneau',
 'James Algar',
 'Samuel Armstrong',
 'Ford Beebe Jr.',
 'Norman Ferguson',
 'David Hand',
 'Jim Handley',
 'T. Hee',
 'Wilfred Jackson',
 'Hamilton Luske',
 'Bill Roberts',
 'Paul Satterfield',
 'Ben Sharpsteen',
 'Michael Lehmann',
 'Howard Deutch',
 'Doug Pray',
 'Greta Schiller',
 'Andrew Douglas',
 'Tom Berry',
 'Bernard Rose',
 'Brian De Palma',
 'Scott Hicks',
 'Joe Berlinger',
 'Bruce Sinofsky',
 'Stephen Herek',
 'Nicholas Meyer',
 'William Shatner',
 'Leonard Nimoy',
 'Cameron Crowe',
 'Michael Mann',
 'Robert Harling',
 'Darren Aronofsky',
 'Jane Campion',
 'Andrés Baiz',
 'Len Wiseman',
 'Jack Fisher',
 'Leslie Greif',
 'Jack N. Green',
 'Jay Roach',
 'Jonathan Mostow',
 'John Milius',
 'Sam Weisman',
 'Kenneth Johnson',
 'Mimi Leder',
 'Gary Fleder',
 'George Tillman Jr.',
 'Mark Joffe',
 'Kevin Smith',
 'Peter Cattaneo',
 'Cyril Frankel',
 'Danny Boyle',
 'Jeb Stuart',
 'Francis Ford Coppola',
 'Don Bluth',
 'Gary Goldman',
 'Bobby Moresco',
 'Les Mayfield',
 'Gus Van Sant',
 'Raja Gosnell',
 'Clifton Powell',
 'Stephen Kijak',
 'Atom Egoyan',
 'Roger Spottiswoode',
 'Stefan Schwartz',
 'Jeremy Ungar',
 'James L. Brooks',
 'Abel Ferrara',
 'Catherine Hardwicke',
 'Jorge Fons',
 'Zalman King',
 'Mike Flanagan',
 'Randall Wallace',
 'Mia Hansen-Løve',
 'Elizabeth Banks',
 'Steven Brill',
 'Steve Carr',
 'Rusty Cundieff',
 'James Duffy',
 'Griffin Dunne',
 'Peter Farrelly',
 'Patrik Forsberg',
 'Will Graham',
 'James Gunn',
 'Brett Ratner',
 'Jonathan van Tulleken',
 'Bob Odenkirk',
 'Steve Boyum',
 'Barnet Kellman',
 'Larry David',
 'Tom Hooper',
 'Thom Fitzgerald',
 'Gareth Edwards',
 'Don Roos',
 'Harry Elfont',
 'Deborah Kaplan',
 'Niki Caro',
 'Betty Thomas',
 'Edward D. Wood Jr.',
 'Steven Zaillian',
 'Robert Redford',
 'Sean S. Cunningham',
 'Steve Miner',
 'Joseph Zito',
 'Bruce Pittman',
 'Lars Klevberg',
 'William Peter Blatty',
 'Mark Waters',
 'Vincent McEveety',
 'Jack Donohue',
 'James Algar',
 'Samuel Armstrong',
 'David Hand',
 'Graham Heid',
 'Bill Roberts',
 'Paul Satterfield',
 'Norman Wright',
 'Arthur Davis',
 'Clyde Geronimi',
 'Stephen Frears',
 'Ted Berman',
 'Richard Rich',
 'Gary Nelson',
 'Rupert Wainwright',
 'Jeff Blyth',
 'Robert Butler',
 'Randal Kleiser',
 'Ron Clements',
 'Burny Mattinson',
 'David Michener',
 'John Musker',
 'Kenny Ortega',
 'Joe Johnston',
 'Fletcher Markle',
 'Jeremy Kagan',
 'Charlie Bean',
 'Ron Clements',
 'John Musker',
 'Brian Henson',
 'Clyde Geronimi',
 'Hamilton Luske',
 'Wolfgang Reitherman',
 'Phillip Borsos',
 'P.J. Hogan',
 'Robert Altman',
 'Hendel Butoy',
 'Mike Gabriel',
 'John Lounsbery',
 'Wolfgang Reitherman',
 'Art Stevens',
 'Toby Shelton',
 'Tad Stones',
 'Alan Zaslove',
 'Walter Murch',
 'Julia Leigh',
 'Ub Iwerks',
 'Walt Disney',
 'Jeremiah S. Chechik',
 'Joseph Kosinski',
 'Fritz Kiersch',
 'Louis Malle',
 'Chris Columbus',
 'Gary Winick',
 'Brian Helgeland',
 'Ethan Wiley',
 'Joss Whedon',
 'Tamara Jenkins',
 'Roman Polanski',
 'John De Bello',
 'Peter George',
 'Joseph Ruben',
 'Tony Scott',
 'Robert Bierman',
 'Christian Petzold',
 'David Ayer',
 'Abhinay Deo',
 'Nat Faxon',
 'Jim Rash',
 'Gore Verbinski',
 'Timothy Hutton',
 'Bong Joon Ho',
 'Eric Darnell',
 'Tim Johnson',
 'John Fortenberry',
 'Andrea Molaioli',
 'Bill Condon',
 'Shekhar Kapur',
 'Arlene Sanford',
 'Eugene Corr',
 'Igor Kovalyov',
 'Norton Virgien',
 'John Lasseter',
 'Andrew Stanton',
 'Predrag Antonijevic',
 'Richard Benjamin',
 'Jonathan Frakes',
 'Brenda Chapman',
 'Steve Hickner',
 'Simon Wells',
 'Lewis Teague',
 'Jonathan Lynn',
 'Barry Levinson',
 'Jack Fisk',
 'Malcolm D. Lee',
 'Clyde Bruckman',
 'Buster Keaton',
 'Ron Underwood',
 'David Pastor',
 'Àlex Pastor',
 'Kevin Kölsch',
 'Dennis Widmyer',
 'William Malone',
 'David Cronenberg',
 'Maurice Joyce',
 'Tony Goldwyn',
 'Carlos Saura',
 'Daniel Espinosa',
 'Gillies MacKinnon',
 'Bryan Bertino',
 'Meng Hua Ho',
 'Paul Shapiro',
 'Tian-Ming Wu',
 'Anthony Asquith',
 'Warren Beatty',
 'George Lucas',
 'Dan Curtis',
 'Lewis Milestone',
 'Morgan J. Freeman',
 'Robert Meyer Burnett',
 'Mark Young',
 'David Yates',
 'Patrick Lussier',
 'Michael Ritchie',
 'Bruce Beresford',
 'Frank Oz',
 'Bob Clark',
 'Curtis Hanson',
 'Jeffrey Delman',
 'Rupert Wyatt',
 'Paul McGuigan',
 'John Turturro',
 'Ana Kokkinos',
 'Jim Abrahams',
 'David Zucker',
 'Jerry Zucker',
 'Ken Finkleman',
 'Roland Emmerich',
 'Jeff Franklin',
 'Philip Frank Messina',
 'Crane Wilbur',
 'Rose Troche',
 'Alfred Sole',
 'S.F. Brownrigg',
 'Kevin Greutert',
 'Jonathan Demme',
 'Bruce McCulloch',
 'Audrey Wells',
 'Rob Letterman',
 'Don Coscarelli',
 'Sally Potter',
 'Paul Brickman',
 'John Hughes',
 'David Lean',
 'Paul Thomas Anderson',
 'Rúnar Rúnarsson',
 'David Lynch',
 'Werner Herzog',
 'Bruce Brown',
 'Robert Zemeckis',
 'Richard Williams',
 'Brian Yuzna',
 'Michael Gornick',
 'Rick Roessler',
 'Franco Zeffirelli',
 'Bruce Malmuth',
 'Gary Nelson',
 'Ridley Scott',
 'Arthur Penn',
 'Merian C. Cooper',
 'Ernest B. Schoedsack',
 'Terry O. Morse',
 'Mark Sandrich',
 'Robert Allen',
 'Norman Jewison',
 'Michael Apted',
 'John Lasseter',
 'Ash Brannon',
 'Lee Unkrich',
 'Liv Ullmann',
 "Gavin O'Connor",
 'Victor Mignatti',
 'Robert Altman',
 'George W. George',
 'Robert F. Hill',
 'Frank Darabont',
 'Tim Roth',
 'Rob Minkoff',
 'James Algar',
 'Gaëtan Brizzi',
 'Paul Brizzi',
 'Hendel Butoy',
 'Francis Glebas',
 'Eric Goldberg',
 'Don Hahn',
 'Pixote Hunt',
 'John Schlesinger',
 'Jack Clayton',
 'Alper Caglar',
 'Michael Noer',
 'Mario Bava',
 'Henry King',
 'Roy Ward Baker',
 'Ivan Passer',
 'Bradley Cooper',
 'Curtis Harrington',
 'Irving Rapper',
 'Emile Ardolino',
 'Bill Duke',
 'Frank Marshall',
 'Stephen Surjik',
 'Troy Duffy',
 'Richard Spence',
 'Chris Koch',
 'Jun Falkenstein',
 'Joseph H. Lewis',
 'Umberto Lenzi',
 'Paolo Cavara',
 'Gualtiero Jacopetti',
 'Franco Prosperi',
 "Vincent D'Onofrio",
 'Felix E. Feist',
 'H. Bruce Humberstone',
 'Barry W. Blaustein',
 'Kevin Brownlow',
 'Andrew Mollo',
 'Alan Parker',
 'Herschell Gordon Lewis',
 'Laslo Benedek',
 'Louis J. Gasnier',
 'Donald MacKenzie',
 'William Castle',
 'John Guillermin',
 'Irving Pichel',
 'Walter Lantz',
 'Dick Lundy',
 'Don Patterson',
 'Paul J. Smith',
 'Fouad Mikati',
 'James Frawley',
 'Jim Henson',
 'James Wong',
 'Spike Lee',
 'Eli Roth',
 'Newt Arnold',
 'Andrzej Bartkowiak',
 'Martin Ritt',
 'Stanley Kramer',
 'Adrian Lyne',
 'Luis Valdez',
 'Bibo Bergeron',
 'Don Paul',
 'Jeffrey Katzenberg',
 'André Øvredal',
 'David MacDonald',
 'Robert Clarke',
 'Tom Boutross',
 'Ethan Coen',
 'Joel Coen',
 'Ted Kotcheff',
 'Robert Aldrich',
 'Sofia Coppola',
 'Bruce Robinson',
 'Lisa Krueger',
 'John Swanbeck',
 'Martin Davidson',
 'Stephen Verona',
 'Stan Dragoti',
 'Nicholas Hytner',
 'Scott Alexander',
 'Larry Karaszewski',
 'Norman Taurog',
 'Bruce Kessler',
 'Wilfred Jackson',
 'Jack Kinney',
 'Hamilton Luske',
 'Bill Roberts',
 'Norman Ferguson',
 'Eric Leighton',
 'Ralph Zondag',
 'Herk Harvey',
 'David Miller',
 'William C. McGann',
 'Paul Schrader',
 'Bigas Luna',
 'Vicente Aranda',
 'Lucio Fulci',
 'Jerry London',
 'Brandon Camp',
 'Joe Camp',
 'Otto Preminger',
 'Penelope Spheeris',
 'Richard W. Haines',
 'Lloyd Kaufman',
 'Michael Herz',
 'Lloyd Kaufman',
 'Clare Kilner',
 'Ernst Lubitsch',
 'Raoul Ruiz',
 'Peter Lord',
 'Nick Park',
 'David Mackenzie',
 'Edgar G. Ulmer',
 'Robert Mandel',
 'Richard Franklin',
 'Clyde Geronimi',
 'Wilfred Jackson',
 'Jack Kinney',
 'Hamilton Luske',
 'Greg Harrison',
 'Craig Brewer',
 'Berit Nesheim',
 'George Marshall',
 'Joseph Green',
 'Carl Reiner',
 'Chuck Russell',
 'John Waters',
 'Tarsem Singh',
 'Adam Collis',
 'David Zucker',
 'Sam Wood',
 'Julien Leclercq',
 'Tim Hunter',
 'Christopher McQuarrie',
 'Kimble Rendall',
 'Jon Shear',
 'Clive Barker',
 'Tony Randel',
 'Don Weis',
 'Ray Kellogg',
 'Amy Holden Jones',
 'Deborah Brock',
 'Carol Frank',
 'Jason Alexander',
 'Reginald Hudlin',
 'Simon Wells',
 'James Algar',
 'Clyde Geronimi',
 'Jack Kinney',
 'Christopher Smith',
 'Nora Ephron',
 'Kenneth Lonergan',
 'Kevin Macdonald',
 'Stig Bergqvist',
 'Paul Demeyer',
 'Andrew Davis',
 'Mark Dindal',
 'Steven Soderbergh',
 'David Mamet',
 'John Wayne',
 'George Gallo',
 'Kuo-Fu Chen',
 'Jack Hill',
 'Volker Schlöndorff',
 'Neil Turitz',
 'Charles Shyer',
 'Jim McBride',
 'Sam Raimi',
 'Tony Bill',
 'Deborah Chow',
 'Bob Giraldi',
 'Robert Townsend',
 'Rod Daniel',
 'Fred Dekker',
 'Vic Armstrong',
 'Rajeev Jhaveri',
 'Wim Wenders',
 'Chris Weitz',
 'Paul Weitz',
 'Chuck Sheetz',
 'Bill Fishman',
 'George Stevens',
 'David Lean',
 'Jean Negulesco',
 'Jimmy T. Murakami',
 'Roger Corman',
 'Sheldon Lettich',
 'Alexis Dos Santos',
 'Alan Metter',
 'Douglas Cheek',
 'David Mirkin',
 'Ted Demme',
 'Sharon Maguire',
 'Michael Winterbottom',
 'Joe Mantegna',
 'Julian Jarrold',
 'Del Shores',
 'Burt Lancaster',
 'Thomas Bezucha',
 'Sydney Pollack',
 'Steve Carr',
 'David Hayter',
 'Raoul Peck',
 'Keenen Ivory Wayans',
 'Greg Pritikin',
 'John Ford',
 'Egor Baranov',
 'Nathalia Hencker',
 'Alexander Mackendrick',
 'Luca Guadagnino',
 'Wei Lo',
 'Larry Clark',
 'George Casey',
 'Jim Abrahams',
 'Harold Becker',
 'Rudolph Maté',
 'Mark Goldblatt',
 'John Hough',
 'Clive Turner',
 'Bob Swaim',
 "Dan O'Bannon",
 'James Glickenhaus',
 'Kristoffer Nyholm',
 'Blake Edwards',
 'Rip Torn',
 'Marc Rocco',
 'Roland Joffé',
 'Mark DiSalle',
 'David Worth',
 'George P. Cosmatos',
 'Abe Forsythe',
 'Jon Knautz',
 'Trevor Matthews',
 'Thomas J. Wright',
 'Luis Puenzo',
 'Jake Szymanski',
 'Aleksey Balabanov',
 'Tom Vaughan',
 'Lewis Gilbert',
 'Dario Argento',
 'Peter Mullan',
 'Garry Marshall',
 'Joshua Logan',
 'Jonathan Kaplan',
 'Jerry Zucker',
 'Hans Petter Moland',
 'Zeki Demirkubuz',
 'John G. Avildsen',
 'Lukas Moodysson',
 'Maria Ripoll',
 'Nickolas Perry',
 'Robin Hardy',
 'Blair Treu',
 'Dana Lustig',
 'Kenneth A. Carlson',
 'Edwin Sherin',
 'Gillian Grisman',
 'Ulli Lommel',
 'Walter Grauman',
 'Joel Oliansky',
 'David Stevens',
 'Danny Pang',
 'Oxide Chun Pang',
 'Pete Docter',
 'David Silverman',
 'Lee Unkrich',
 'Priyadarshan',
 'Barry Shear',
 'Sidney Hayers',
 'Robert Moore',
 'Guy Hamilton',
 'Ib Melchior',
 'Steve Carver',
 'Albert Band',
 'Kevin Connor',
 'John A. Davis',
 'James Mangold',
 'Breck Eisner',
 'Ralph Bakshi',
 'Jules Dassin',
 'Barry Shils',
 'Matthew Robbins',
 'Brian Levant',
 'Lulu Wang',
 'Kevin Reynolds',
 'Stephen Sommers',
 'Mauro Carvalho',
 'Thiago Cazado',
 "Peter O'Fallon",
 'Sturla Gunnarsson',
 'Shane Black',
 'Alain Gsponer',
 'Daniel Stern',
 'Robin Budd',
 'Donovan Cook',
 'Vittorio De Sica',
 'Bobby Farrelly',
 'Peter Farrelly',
 'Larry Fessenden',
 'Allan Dwan',
 'Jonathan Glazer',
 'Claire Denis',
 'Michele Soavi',
 'Alfred Zeisler',
 'Elliott Nugent',
 'Fritz Lang',
 'Rohit Karn Batra',
 'Ken Loach',
 'Barbara Peeters',
 'Jimmy T. Murakami',
 'Alan Crosland',
 'Roy Ward Baker',
 'Andrea Bianchi',
 'Chris Wedge',
 'Carlos Saldanha',
 'Alfonso Cuarón',
 'Tony Maylam',
 'Jackie Chan',
 'Malik Bader',
 'Roger Michell',
 'Peter Bogdanovich',
 'Don Chaffey',
 'Bill Froehlich',
 'Rudy De Luca',
 'Morten Tyldum',
 'George Ratliff',
 'Dusan Makavejev',
 'Tom Mankiewicz',
 'David Gordon Green',
 'John McTiernan',
 'Charles Haid',
 'Kelly Asbury',
 'Lorna Cook',
 'Pat Murphy',
 'James Toback',
 'Jack Nicholson',
 'Dean DeBlois',
 'Chris Sanders',
 'Peter MacDonald',
 'Michael Lindsay-Hogg',
 'Sandra Goldbacher',
 'Sam Mendes',
 'Peter Hastings',
 'Chris Ver Wiel',
 'Jesse Peretz',
 'David Raynr',
 'Yelena Lanskaya',
 'John Polson',
 'Burr Steers',
 'Jean Yarbrough',
 'Bob Dahlin',
 'Philip Kaufman',
 'Clarence Brown',
 'Angelina Jolie',
 'Eriq La Salle',
 'Edoardo Ponti',
 'John Walsh',
 'George Hickenlooper',
 'John R. Cherry III',
 'Quentin Tarantino',
 'Jay Russell',
 'Christian Charles',
 'Ronny Yu',
 'Tommy Wirkola',
 'Isao Takahata',
 'Simon West',
 'James Bridges',
 'Sergio Corbucci',
 'Andrzej Wajda',
 'Peter R. Hunt',
 'Richard Marquand',
 'Peter Weir',
 'Jed Mercurio',
 'Joe Giannone',
 'Seth MacFarlane',
 'Kirby Dick',
 'Amy Ziering',
 'Ventura Pons',
 'Jeff Daniels',
 'Michael Lembeck',
 'Kathryn Bigelow',
 'Nils Tavernier',
 'Paul Justman',
 'Robert Harmon',
 'Paul Gross',
 'Cy Endfield',
 'Bill Corcoran',
 'Neil Marshall',
 'Sophie Barthes',
 'Howard R. Cohen',
 'Ulu Grosbard',
 'Lee Tamahori',
 'Daina Reid',
 'Steven R. Monroe',
 'Kurt Wimmer',
 'Tim Burstall',
 'Mark L. Lester',
 'Frank Whaley',
 'Lynne Ramsay',
 'Cullen Blaine',
 'James Dearden',
 'Henry Hathaway',
 'Howard Zieff',
 'Simon Langton',
 'Roger Corman',
 'Steve Sekely',
 'Freddie Francis',
 'Stephen Daldry',
 'Todd Louiso',
 'John Rich',
 'Richard Thorpe',
 'Jonathan Liebesman',
 'Martina Kudlácek',
 'Nadine Labaki',
 'Raoul Walsh',
 'Slava Tsukerman',
 'Terry Hughes',
 'Ian MacNaughton',
 'Stuart Gillard',
 'Laurent Bouhnik',
 'Pierre De Moro',
 'Michael Pressman',
 'Michael Grossman',
 'Steve Trenbirth',
 'J. Lee Thompson',
 'Nicolas Roeg',
 'Ron Shelton',
 'Fielder Cook',
 'Tom Graeff',
 'Jeffrey Reiner',
 'Jonas Åkerlund',
 'Hal Kanter',
 'Eric Brevig',
 'Francis Glebas',
 'Carroll Ballard',
 'Jon Amiel',
 'Dennie Gordon',
 'Robert Duvall',
 'Peter Sollett',
 'William Richert',
 'Joel Schumacher',
 'Austin Chick',
 'Anders Thomas Jensen',
 'Matt Dillon',
 'Jim Fall',
 'Patrice Leconte',
 'Sam Firstenberg',
 'Charles Walters',
 'Andrew Stanton',
 'Lee Unkrich',
 'F. Gary Gray',
 'Elliot Silverstein',
 'George Sherman',
 'John Wayne',
 'Byron Haskin',
 'Lionel Jeffries',
 'John Eng',
 'Norton Virgien',
 'José Luis Gutiérrez Arias',
 'Fernando Sariñana',
 'René Clément',
 'D.W. Griffith',
 'Alan Gibson',
 'Jonathan Wacks',
 'Josh Greenbaum',
 'Dean Parisot',
 'Jay Karas',
 'Patrick Gilmore',
 'Tim Johnson',
 'Stephen Norrington',
 'Tim Fywell',
 'Burt Reynolds',
 'Joseph Sargent',
 'Pier Paolo Pasolini',
 'Jonathan Prince',
 'Gabriel Axel',
 'Larry Peerce',
 'Bert I. Gordon',
 'Luis Buñuel',
 ...]

In [152]:
directors_table = pd.DataFrame({'complete' : directors})
directors_table['id'] = ''
directors_table['name'] = ''
directors_table['last_name'] = ''
directors_table

                   complete id name last_name
0             John Lasseter
1           Forest Whitaker
2                       NaN
3              Peter Hewitt
4           Martin Campbell
...                     ... ..  ...       ...
5750            Jim Strouse
5751           Jon Abrahams
5752  Jonathan A. Rosenbaum
5753             Larry Shaw
5754          Daisy Asquith

[5755 rows x 4 columns]

In [169]:
for index, row in directors_table.iterrows():
    row['id'] = index + 1
    try:
        row['name'] = row['complete'].split(' ')[0]
        row['last_name'] = row['complete'].split(' ')[-1]
    except:
        row.last_name = row.complete
        
directors_table

                   complete    id      name  last_name
0             John Lasseter     1      John   Lasseter
1           Forest Whitaker     2    Forest   Whitaker
2                       NaN     3                  NaN
3              Peter Hewitt     4     Peter     Hewitt
4           Martin Campbell     5    Martin   Campbell
...                     ...   ...       ...        ...
5750            Jim Strouse  5751       Jim    Strouse
5751           Jon Abrahams  5752       Jon   Abrahams
5752  Jonathan A. Rosenbaum  5753  Jonathan  Rosenbaum
5753             Larry Shaw  5754     Larry       Shaw
5754          Daisy Asquith  5755     Daisy    Asquith

[5755 rows x 4 columns]

In [182]:
# CREATING A TABLE FOR GENRES
genres=[]
list_genres = frame.genres.unique()


for item in list_genres:
    try:
        sublist = item.split(',')
        for i in range( len(sublist) ):
            genres.append(sublist[i])
    except:
        genres.append(item)
        
genre_df = pd.DataFrame({'genre': genres})
genre_table = pd.DataFrame({'genre' : genre_df.genre.unique() })
genre_table['id_genre'] = ''

for index, row in genre_table.iterrows():
    row['id_genre'] = index +1
    
genre_table

          genre id_genre
0     Animation        1
1     Adventure        2
2        Comedy        3
3        Family        4
4       Fantasy        5
5         Drama        6
6       Romance        7
7       Western        8
8        Action        9
9      Thriller       10
10        Crime       11
11      History       12
12    Biography       13
13       Sci-Fi       14
14      Musical       15
15       Horror       16
16        Sport       17
17  Documentary       18
18      Mystery       19
19        Music       20
20          War       21
21    Film-Noir       22
22        Short       23
23    Talk-Show       24
24    Game-Show       25
25   Reality-TV       26
26          NaN       27
27         News       28

In [184]:
# CREATING A TABLE FOR LANGUAGES
languages=[]
list_lang = frame.language.unique()


for item in list_lang:
    try:
        sublist = item.split(',')
        for i in range( len(sublist) ):
            languages.append(sublist[i])
    except:
        languages.append(item)
        
languages_df = pd.DataFrame({'language': languages})
languages_table = pd.DataFrame({'genre' : languages_df.language.unique() })
languages_table['id_language'] = ''

for index, row in languages_table.iterrows():
    row['id_language'] = index +1
    
languages_table

             genre id_language
0          English           1
1          Russian           2
2          Spanish           3
3         Mandarin           4
4            Latin           5
..             ...         ...
138    Greenlandic         139
139  Luxembourgish         140
140           Tupi         141
141         Kazakh         142
142          Wolof         143

[143 rows x 2 columns]

In [ ]:
## TO HIS POINT THERE ARE TABLES FOR:
## DIRECTOR: directors_table, GENRE: genre_table, LANGUAGE: languages_table

In [ ]:
# MAYBE THE MAIN FRAME MIGHT BE THE FOLLOWING: MOVIE

In [187]:
movie_table = frame[['imdb_id', 'original_title', 'title', 'runtime_x','year','budget',\
              'revenue', 'popularity','vote_average','vote_count']]
movie_table

,imdb_id,original_title,title,runtime_x,year,budget,revenue,popularity,vote_average,vote_count
0,tt0114709,Toy Story,Toy Story,81.0,1995,30000000,373554033.0,21.9469,7.7,5415.0
1,tt0114885,Waiting to Exhale,Waiting to Exhale,127.0,1995,16000000,81452156.0,3.85949,6.1,34.0
2,tt0114319,Sabrina,Sabrina,127.0,2018,58000000,0.0,6.67728,6.2,141.0
3,tt0047437,Sabrina,Sabrina,113.0,2018,2238813,10000000.0,7.35974,7.4,284.0
4,tt0112302,Tom and Huck,Tom and Huck,97.0,1995,0,0.0,2.56116,5.4,45.0
...,...,...,...,...,...,...,...,...,...,...
8008,tt3805180,Все и сразу,All at Once,0.0,2016,750000,3.0,0.201582,6.0,4.0
8009,tt6212210,Cop and a Half: New Recruit,Cop and a Half: New Recruit,97.0,2017,0,0.0,1.248353,6.0,1.0
8010,tt1331329,The Final Storm,The Final Storm,92.0,2010,0,0.0,1.270832,3.7,11.0
8011,tt0294425,Cadet Kelly,Cadet Kelly,101.0,2002,0,0.0,4.392389,5.2,145.0
8012,tt6980792,Queerama,Queerama,75.0,2017,0,0.0,0.163015,0.0,0.0